################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.ldb
/src/Crawler/obj
/src/SiteDataCapture/obj
/src/Crawler/bin/Debug/netstandard2.0
/src/SiteDataCapture/bin/Debug/netcoreapp3.0
/src/Crawler/bin/Release/netstandard2.0
/src/SiteDataCapture/bin/Release/netcoreapp3.0
/src/SiteDataCapture/Properties/PublishProfiles
